body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: #0575A2;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 17px;
    right: 0px;
  }

  .topnav a:hover {
    background-color: #04AA6D;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

table.table1 {
  border-style: solid;
  border-width: 5px;
  border-color: #00008B;
  background-color: #ADD8E6;
  width: 100%;
  text-align: center;

}

table.table1 tr:hover {background-color: #4CAF50;}

table.table2 {
  border: 1px solid;
  border-radius: 5px;
  width: 50%
}

table.table2 tr:hover {background-color: #89CFF0;}
table.table2 th {
  background-color: #89CFF0;
  colour:white;
}

table.table3 {
  border: 1px solid;
  width: 75%
}

table.table3 tr:hover {background-color: #B77B82;} 
table.table3 tr:nth-child(even) {background-color: #f2f2f2}

h1 {
  colour: #B77B82;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 170px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
  .sidebar-wrap {
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    background: #333;
  }

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main-nav {
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  width: 100%;
  float: left;
  min-height: 100%;
  position: relative;
  z-index: 0;
}

.main {
  margin-left: 10px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  width: 75%;
  float: left;
  min-height: 100%;
  position: relative;
  z-index: 2;
}

.main-content {
  margin-left: 10px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  width: 75%;
  float: left;
  min-height: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 180px;
}

.main-wrap {
  margin-left:25%;
  width: 75%;
  float: left;
  min-height: 100%;
  position: relative;
  z-index: 2;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Footer Style */

.footer {
  margin-left: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0575A2;
  color: white;
  text-align: left;
}

      /* Create two unequal columns that floats next to each other */
      /* Left column */
      .exampleleftcolumn {
        float: left;
        width: 75%;
      }

      /* Right column */
      .examplerightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
      }
.templateimg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


/*FONTS*/

.font-tnr {
  font-family: "Times New Roman", Times, serif;
}

.font-arial {
  font-family: "Arial", Arial, sans-serif;
}

.font-verdana {
  font-family: "Verdana", Verdana, sans-serif;
}

.font-impact {
  font-family: "Impact", Impact, fantasy;
}

.font-courier {
  font-family: "Courier", Courier New, monospace;
}

.font-comicsans {
  font-family: "Comic Sans", Comic Sans MS, Comic Sans, cursive;
}

.header-text {
  color: #1429A0;
  text-shadow: 2px 2px 5px #0C185D;
}

.link-text {
  text-shadow: 2px 2px 5px skyblue;
}

/* Dropdown container */

    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 0px 0px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #04AA6D;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 4;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }


/* TEMPLATE #2 CSS */

      .body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
      }

      /* Header/Blog Title */
      .header {
        padding: 10px 0px;
        font-size: 40px;
        text-align: center;
        background: white;
        margin-right: 200px; /* Same as the width of the sidebar */
      }

      /* Create two unequal columns that floats next to each other */
      /* Left column */
      .leftcolumn {
        float: left;
        width: 100%;
      }

      /* Right column */
      .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
      }

      /* Fake image */
      .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 0px;
      }

      /* Add a card effect for articles */
      .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        border-radius: 25px;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Footer */
      .text-center {
        text-align: center;
      }

      .footer-body {
        padding: 20px;
        text-align: left;
        background: #ddd;
        margin-top: 20px;
      }

      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {
          width: 100%;
          padding: 0;
        }
      }

      img {
        max-width: 25%;
        max-height: 15%;
        float: left;
      }

      .template1-headtext {
        float: left;
      }

      /* Template #1 sidebar  */
      .template1-sidenav {
        /*height: 100%; 
        (Full-height: remove this if you want "auto" height) 
        */

        width: 200px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #aab; /* Pastel Purple */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
      }
        .template1-sidebar-wrap {
          top: 0;
          left: 0;
          width: 25%;
          height: 100%;
          position: fixed;
          background: #333;
        }

      /* Style page content */
      .template1main-nav {
        margin-right: 200px; /* Same as the width of the sidebar */
        padding: 0px 0px;
        width: 100%;
        float: left;
        min-height: 100%;
        position: relative;
        z-index: 0;
        position: -webkit-sticky;
      }

      .template1main {
        margin-right: 200px; /* Same as the width of the sidebar */
        padding: 0px 10px;
        width: 75%;
        float: left;
        min-height: 100%;
        position: relative;
        z-index: 2;
      }

      .template1main-content {
        margin-left: 10px; /* Same as the width of the sidebar */
        padding: 0px 10px;
        width: 75%;
        float: left;
        min-height: 100%;
        position: relative;
        z-index: 2;
        margin-bottom: 180px;
      }

      .template1main-wrap {
        margin-left:25%;
        width: 75%;
        float: left;
        min-height: 100%;
        position: relative;
        z-index: 2;
      }

      .template1-topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;

      }

      .template1-topnav {
        overflow: hidden;
        background-color: #aaa;
      }

      .template1-topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 8px;
        text-decoration: none;
        font-size: 17px;
        right: 200px;

      }

      /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
          position: fixed;
          top: 0;
          width: 100%;
        }

      .template1-topnav a:hover {
        background-color: #aac;
        color: black;
      }

      .template1-topnav a.active {
        background-color: #aac;
        color: white;
      }


      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }

      li {
        float: left;
      }
